/*newsfeed*/
#div1 {
  margin: auto;
  position: relative;
}

.box {
  float: left;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f7f7f7;
  box-shadow: 0 0 8px #ccc;
}

.box:hover { box-shadow: 0 0 10px #999; }

.box img { width: 200px; }
/*end news feed*/

.tab_border:active
{
border-bottom: 2px solid #808080;


}
.tab-pane li :active
{
  border-bottom: 2px solid #808080;
}

.tab_trans
{
  background: transparent;
}
.pst_box:hover
{
    /*border-radius: 5px;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.shdw:hover
{
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
footer
{
      position:fixed;
      bottom:0;
      left:0px;
      width:100%;
      background-color:#808080;
      height:7%;
}
.pst_cmt_wid
{
    width: 550px;
}

.pst_main_background
{
    background-color: transparent;
}

.paper {

            width: 100%;
            height: 100%;
            margin: 0 auto;

            position: relative;
            color: #444;
            line-height: 20px;
            /*border: 1px solid #d2d2d2;*/

            background: #fff;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#5a5a5a), color-stop(4%, #fff)) 0 4px;
            background: -webkit-linear-gradient(top, #5a5a5a 0%, #fff 3.1%) 0 4px;
            background: -moz-linear-gradient(top, #5a5a5a 0%, #fff 8%) 0 4px;
            background: -ms-linear-gradient(top, #5a5a5a 0%, #fff 8%) 0 4px;
            background: -o-linear-gradient(top, #5a5a5a 0%, #fff 8%) 0 4px;
            background: linear-gradient(top, #5a5a5a 0%, #fff 8%) 0 4px;
            -webkit-background-size: 100% 20px;
            -moz-background-size: 100% 20px;
            -ms-background-size: 100% 20px;
            -o-background-size: 100% 20px;
            background-size: 100% 20px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
            box-shadow: 0 1px 2px rgba(0,0,0,0.07);


            }

.ws_ta_tab_a
{
    background-color: #88bf6c;
}
.centered
{
  margin-left: 50%;
}
/*---------------------------------todostart-----------------*/

.panel
{
    border-radius: 5px;
    min-width: 240px;
    color: #5D6B79;
    background: #fff;
    overflow: hidden;
    text-align: left;
}

.panel .panel-title
{
    display: relative;
    border-bottom: 1px solid #D1D1D1;
    padding: 12px 14px;
    font-size: 20px;
    background-color: #fcfcfc;
}

.panel .panel-title:after
{
    position: absolute;
    top: 14px;
    right: 14px;
    content: "";
    display: block;
    width: 19px;
    height: 15px;
}

.panel .panel-content
{
    font-size: 16px;
    text-align: left:;
}

.panel .panel-content .task
{
    padding: 18px 14px;
    border-bottom: 1px solid #f0f2f3;
}

.panel .panel-content .task input[type=checkbox]
{
    visibility: hidden;
    width: 0;
}

.panel .panel-content .task label
{
    display: inline-block;
    cursor: pointer;
    padding-left: 40px;
    position: relative;
    color: #8a9a9b;
    transition: color 0.2s linear;
}

.panel .panel-content .task label .line-through
{
    position: absolute;
    display: block;
    height: 1px;
    background-color: #34bf6e;
    top: 60%;
    right: 100%;
    left: 42px;
    transition: right 0.2s linear;
}

.panel .panel-content .task label:before,
            .panel .panel-content .task label:after
{
    content: "";
    display: block;
    position: absolute;
}

.panel .panel-content .task label:before
{
    top: -2px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #8a9a9b;
    border-radius: 50%;
}

.panel .panel-content .task label:after
{
    top: 4px;
    left: 8px;
    width: 5px;
    height: 9px;
    border: 4px solid #34bf6e;
    border-top: transparent;
    border-left: transparent;
    transform: scale(2) rotate(45deg);
    opacity: 0;
    transform-origin: center center;
    transition: transform 0.2s, opacity 0.2s;
}

.panel .panel-content .task input[type=checkbox]:checked + label
{
    color: #afdf7c;
}

.panel .panel-content .task input[type=checkbox]:checked + label .line-through
{
    right: 0;
}

.panel .panel-content .task input[type=checkbox]:checked + label:before
{
    border-color: #34bf6e;
}

.panel .panel-content .task input[type=checkbox]:checked + label:after
{
    transform: scale(1) rotate(45deg);
    opacity: 1;
}

ul
{
    list-style-type: none;
}

/*--------------------------todolist css end-----------------------*/

.pad_todo
{
    margin-bottom: 20px transparent;
}

.todo_right
{
    line-height: 1px;
    text-align: right;
    vertical-align: middle;
}

.todo_div
{
}

.td_div
{
    position: null;
}

.td_div
{
    display: flex;
    background: #ddd;
}

/*----------------------index.html-----------------*/

.tabs-left, .tabs-right
{
    border-bottom: none;
    padding-top: 25px;
}

.tabs-left
{
    border-right: 3px solid #ddd;
}

.tabs-right
{
    border-left: 3px solid #ddd;
}

.tabs-left>li, .tabs-right>li
{
    float: none;
    margin-bottom: 2px;
}

.tabs-left>li
{
    margin-right: -1px;
}
li>a
{
  color:#808080;
}
.tabs-right>li
{
    margin-left: -1px;
    color: #fff;
}

.tabs-left>li.active>a,
            .tabs-left>li.active>a:hover,
            .tabs-left>li.active>a:focus
{

    border-bottom-color: #ddd;
    border-right-color: transparent;
}

.tabs-right>li.active>a,
            .tabs-right>li.active>a:hover,
            .tabs-right>li.active>a:focus
{
    background: #808080;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
}

.tabs-left>li>a
{
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block;
}

.tabs-right>li>a
{
    border-radius: 0 4px 4px 0;
    margin-right: 0;
}
.nav-tabs>li>a:hover
{
  background: #808080;
}

.vertical-text
{
    margin-top: 40px;
    border: none;
    position: relative;
}

.vertical-text>li
{
    height: 18px;
    width: 180px;
    margin-bottom: 110px;
}
/*.tabs-right>ul>li:hover
{
  background: #808080;
}*/
.vertical-text>li>a
{
    border-bottom: 1px solid #ddd;
    border-right-color: transparent;
    text-align: center;
    border-radius: 4px 4px 0px 0px;
    -webkit-clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
    clip-path: polygon(0 0, 70% 0, 100% 100%, 30% 100%);
}

.vertical-text>li.active>a,
            .vertical-text>li.active>a:hover,
            .vertical-text>li.active>a:focus
{
    border-bottom-color: transparent;
    border-right-color: #FFF;
    border-left-color: #ddd;
    color: #fff;
}

.vertical-text.tabs-left
{
}

.vertical-text.tabs-right
{
}

.vertical-text.tabs-right>li
{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vertical-text.tabs-left>li
{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.pst_box
{
    /*border: 1px dotted #afdf7c;*/
    margin-bottom: 20px;
}

.pst_head
{
    background-color: #ffffff;
    text-align: left;
}

.pst_head_left
{
}

.text_wht
{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

.pst_row_fill
{
    background-color: #afdf7c;
    margin-left: 0px;
}

.pst_head_txt
{
    position: relative;
    padding-top: 3px;
}

.pst_body
{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.pst_cmt
{
    position: relative;
}

.pst_cmt_body
{
    background-color: rgba(251, 251, 251, 0.97);
    border-top: 1px dotted #afdf7c;
}

.pst_cmt_muted
{
    font-size: 10px;
    color: #5c5c5c;
}

.pst_cmt_tog
{
    background-color: #ededed;
    height: 30px;
}

.pst_cmt_pad
{
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.pst_cmt_c1
{
    padding-left: 0px;
    padding-right: 0px;
    width: 37px;
}

.pst_cmt_row
{
}

/*-----------------------index_end-----------------*/

.club_login_wid
{
    width: 400px;
    text-align: center;
}

.btn_grn
{
    background-color: #afdf7c;
    color: #fff;
    border-radius: 0px;
}

.btn_grn:hover
{
    background-color: #89d03f;
    color: #fff;
}

.club_headers
{
    text-align: left;
    color: #afdf7c;
    margin: 10px;
}

.club_sub_div_height
{
    /*min-height: 900px;*/
    height: 100%;
    overflow: auto;
}

.club_txtbox
{
}

.txt
{
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    resize: none;
    outline: none;
    overflow: hidden;
}

.club_txt
{
    width: 95%;
    height: 35px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #808080;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 20px;
}

.club_info
{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.grow
{
    height: 300px;
    background-color: #fff;
    transition: all 0.3s ease;
    border: 1px dotted #808080;
    position: static;
    overflow: hidden;
    padding: 10px;
}

.grow:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    overflow-y: scroll;
}

.club_network
{
    height: 900px;
    background-color: #d3d3d3;
    overflow-y: scroll;
}

.club_network_row
{
    border: 1px solid #fff;
}

.club_msg_shape
{
}

/* Let's get this party started */

::-webkit-scrollbar
{
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track
{
    -webkit-border-radius: 2px;
    border-radius: 1px;
}

/* Handle */

::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #808080;
    opacity: 0.7;
}

::-webkit-scrollbar-thumb:window-inactive
{

}

.club_suggest_top_div
{
    background-color: #afdf7c;
    color: #fff;
}

.club_sugg_scroll
{
    overflow-y: scroll;
    height: 450px;
    background-color: #d3d3d3;
}

.c_sugg_row
{
    display: flex;
}

.c_suggest_row
{
}

.club_sug_row_bg
{
    background-color: #fff;
    border: 1px dotted #afdf7c;
}

.icon
{
    color: #afdf7c;
    float: right;
}

.icon:hover
{
    color: #d3d3d3;
}

.cf_card
{
    width: 289px;
    height: 150px;
    padding-left: 0px;
    padding-right: 0px;
    border: 1px dashed #afdf7c;
    margin: 3px;
}

.cf_card:hover
{
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.cf_block_height
{
    height: 800px;
    width: 599px;
    overflow-y: scroll;
}

.su_card_shadow
{
    /*border-radius: 7px;*/
    box-shadow: 0 5px 1px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}
.su_card_shadow :hover
{
    /*border-radius: 7px;*/
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.su_shadow
{
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}
.su_shadow :hover
{
  
}
.txt_font
{
    font-family: lato;
    font-size: 14px;
}

/*-------------------------------scotch tape---------------------------------*/

#tape:before, #tape:after
{
    content: '';
    display: block;
    position: relative;
    background-color: #afdf7c;
    opacity: 0.4;
    height: 25px;
}

#tape:before
{
    left: -39px;
    top: -15px;
    width: 80px;
    -webkit-transform: rotate(-12deg);
    -moz-transform: rotate(-12deg);
    -o-transform: rotate(-12deg);
    -ms-transform: rotate(-12deg);
}

#tape:after
{
    left: 420px;
    top: -20px;
    width: 99px;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
}

/*-------------------------------scotch tape end---------------------------------*/

.select_color
{
    background: url("assets/css/118738.png") no-repeat left center;
    height: 35px;
    border: 0px;
    border-bottom: 1px solid #afdf7c;
    width: 250px;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
}

.profile_left_navbar
{
}

.profile_l_n_personal
{
    text-align: right;
    font-family: lato-regular;
    color: #a9a9a9;
    padding: 0px;
    border-bottom: 1px dashed #afdf7c;
}

.p_r_box
{
    text-align: left;
    font-family: lato-regular;
    color: #a9a9a9;
    padding: 0px;
    border-bottom: 1px dashed #afdf7c;
    overflow-y: scroll;
    height: 137px;
}

#gallerycontainer
{
    position: relative;
    height: 210px;
    width: 95%;
    margin: 0 auto;
    overflow: auto;
}

#gallery
{
    width: 4520px;
    position: absolute;
    z-index: 1;
}

#c_hs
{
    float: left;
    width: 219px;
    height: 165px;
    margin-right: 5px;
    border: 1px dotted #afdf7c;
}

.pad_0
{
    padding: 0px;
}

.pull_right_navbar
{
    float: right;
}

.navbar_center
{
}

.hover_li
{
}

.hover_li:hover
{
    background-color: #eee;
}

#id_hover a:hover
{
    background-color: #eee;
}

.d_shdw
{
    border-radius: 3px;
    box-shadow: 0 17px 50px 0 rgba(0,0,0,.10),0 12px 15px 0 rgba(0,0,0,.20);
}

.signup_nav_height
{
    height: 10%;
}

.lgn_hovr:hover
{
    background-color: #89d03f;
    color: #fff;
}

.lgn_hovr
{
    background-color: #fff;
    color: #afdf7c;
}
.su_sdw
{
  border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.triangle-down {
/*-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);*/
    border:3px solid #fff;


}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}



/*testing*/
/*.nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }*/
  /*testing end*/
